/* =============Main ======================== */
main {
  position: relative;
  top: var(--sticky-top-left);
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 15vw auto 20vw;
  gap: 2rem;
}

.navbar {
  height: 100%;
  position: sticky;
  top: var(--sticky-top-left);
  background-color: red;
}
