/* ========================= Notification popup ============================== */
.notification-popup {
  position: absolute;
  left: 110%;
  width: 30rem;
  top: 0;
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  box-shadow: 0 0 1.2rem var(--color-primary);
  z-index: 8;
  /* display: flex; */
  display: none;
}

.notification-popup::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--color-white);
  position: inherit;
  left: -0.6rem;
  transform: rotate(45deg);
  z-index: 5;
}
.notification-item {
  display: flex;
  gap: 1rem;
  vertical-align: middle;
  align-items: start;
  margin-bottom: 1rem;
}

.notification-item:last-child {
  margin-bottom: 0;
}

.notification-popup small {
  display: block;
}
